/* メニュー */
@mixin li-base {
  vertical-align: middle;
  a {
    width: 100%;
    color: white;
    display: block;
    text-decoration: none;
  }
  &:hover {
    background-color: #bbb;
    ul {
      opacity: 1;
      visibility: visible;
      z-index: 2;
      // 直接のli要素のみ変更されるようにする
      li {
        background-color: #123456;
      }
    }
  }
}

ul.header_menu {
  padding: 0;
  background-color: #123456;
  // flex
  display: flex;
  justify-content: center;
  // 全体設定
  list-style: none;
  text-align: center;
  li {
    @include li-base;
    flex-basis: 33.33%;
    position: relative;
    /* 子メニュー */
    ul {
      padding: 0;
      visibility: hidden;
      position: absolute;
      list-style: none;
      width: 100%;
      z-index: -1;
      li {
        @include li-base;
      }
    }
  }
}
