.header_menu{
  *zoom: 1;
  list-style-type: none;
  width: 100%;
  margin: 5px auto 30px;
  padding: 0;
}
.header_menu:before, .header_menu:after{
  content: "";
  display: table;
}
.header_menu:after{
  clear: both;
}
.header_menu li{
  position: relative;
  width: 33%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.header_menu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.header_menu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.header_menu li ul li{
  width: 100%;
}
.header_menu li ul li a{
  padding: 13px 15px;
  border-top: 1px solid #7c8c0e;
  background: #6e7c0c;
  text-align: left;
}
.header_menu li:hover > a{
  background: #6e7c0c;
}
.header_menu li a:hover{
  background: #616d0b;
}
.header_menu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}
.header_menu li:hover ul li{
  overflow: visible;
  height: 38px;
}